lib-cov
.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules/
bower_components/
.idea/
.project
html-report/
build/

npm-debug.log

testem-example/coverage/
testem-example/instrumented/
testem-example/coverage.json
